<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>JEPRI BARUS ASW</title>
    <script language="JavaScript">alert(" Apakah Anda Jomblo? ");</script>
    <script language="JavaScript">alert(" Bye Jepri Barus ");</script>

</style>
</head>
<body><center><br>
<body oncontextmenu='return false;' onkeydown='return false;' onmousedown='return false;'>
<div id='font' align="center">
<div id=''>
<br>

    <link rel="stylesheet" type="text/css" href="home/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="home/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/owl.carousel.css">

    <link rel="stylesheet" href="home/css/animate.css">

    <link rel="stylesheet" href="home/css/templatemo-style.css">

    <link rel="stylesheet" href="home/css/responsive.css">

    </head>
    
    <body>

        </header>

        <img src="https://l.top4top.io/p_1917n47na0.jpg"width="300"height="300">

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <marquee behavior="alternate" scrollamount="5" style="border:1px solid;" width="80%"><font color="red" face="courier">[THANK TO : ALLAH S.W.T | Zahirr | Fafish ]</center></font></marquee></div>
                        <br>
                        <img src="https://g.top4top.io/p_1917moang0.jpg"width="200"height="200">
                        <br>
                        	<br>
                        <center><audio autoplay="autoplay" controls="controls" src="https://k.top4top.io/m_1644rpx5n1.mp3"></audio></a></center>
<br>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <font style="color:white;text-shadow:red 0px 0px 10px" size="6"> &nbsp;&nbsp;&nbsp;&nbsp;<br>Web ini hanya untuk saya belajar api<br></font>
                                            </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                        	<br>
                        	<br>
                        	<br>
                        	<body>
    <div class="text">
        <div class="status">
            <p>API STATUS: <span class="typed-text">ONLINE</span><span class="cursor typing"></span></p>
        </div>
        <hr>
       <li data-menuanchor="slide02"><a href="/api"> HOME</a></li>
        </div>
    </div>
    <div class="bottom">
        <p>
            
                        <li data-menuanchor="slide03"><a href="wa.me/12349805035">WhatsApp</a></li>
        </p>
    </div>

</body>
        </div>
    </div>  

    <script src="home/js/jquery.js"></script>

    <script src="home/js/bootstrap.min.js"></script>

    <script src="home/js/fullpage.min.js"></script>

    <script src="home/js/scrolloverflow.js"></script>

    <script src="home/js/owl.carousel.min.js"></script>

    <script src="home/js/jquery.inview.min.js"></script>

    <script src="home/js/form.js"></script>

    <script src="home/js/custom.js"></script>


  </body>
</html>
