<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Jepri Barus Asw</title>
    <script language="JavaScript">alert(" Sudahkah Anda Mandi? ");</script>
    <script language="JavaScript">alert(" Bye Jepri Barus ");</script>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="home/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="home/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="home/css/owl.carousel.css">

    <link rel="stylesheet" href="home/css/animate.css">

    <link rel="stylesheet" href="home/css/templatemo-style.css">

    <link rel="stylesheet" href="home/css/responsive.css">
        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#" id="logo" title="Elegance by TemplateMo">
                        My Web
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Home</a></li>
                                    <li data-menuanchor="slide02"><a href="/api"> My Rest API</a></li>
                                    <li data-menuanchor="slide03"><a href="https://blog-zahirr-web.vercel.app/">My Blog</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div id="fullpage" class="fullpage-default">
        	<img src="https://l.top4top.io/p_1917n47na0.jpg"width="500"height="500">
<font style="color:red;text-shadow:red 0px 0px 10px" size="8"> &nbsp;&nbsp;&nbsp;&nbsp;<br>KALAK KARO</font>
                	<marquee behavior="alternate" scrollamount="5" style="border:1px solid;" width="80%"><font color="gold" face="courier">-=|[THANK TO : ALLAH S.W.T | Zahirr | Fafish ]|=-</center></font></marquee></div>
                    </div>
                </div>
            </div>
             <center><audio autoplay="autoplay" controls="controls" src="https://k.top4top.io/m_1644rpx5n1.mp3"></audio></a></center>
            
            <font style="color:white;text-shadow:red 0px 0px 10px" size="10"> &nbsp;&nbsp;&nbsp;&nbsp;<br>Web ini hanya untuk saya belajar api<br></font>
    <script src="home/js/jquery.js"></script>

    <script src="home/js/bootstrap.min.js"></script>

    <script src="home/js/fullpage.min.js"></script>

    <script src="home/js/scrolloverflow.js"></script>

    <script src="home/js/owl.carousel.min.js"></script>

    <script src="home/js/jquery.inview.min.js"></script>

    <script src="home/js/form.js"></script>

    <script src="home/js/custom.js"></script>


  </body>
</html>
